.InvitedList {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-height: 100%;
  overflow: auto;
  padding: 16px 0 0;
}

.InvitedList__item {
  align-items: center;
  border-bottom: 1px solid var(--moss);
  display: flex;
  justify-content: space-between;
  padding: 8px 0;

  &:last-child {
    border-bottom: none;
    margin: 0;
  }
}
