.Venue {
  .Venue__heading {
    color: #444;
    margin: 0 0 24px;
  }

  .Venue__external-icon svg {
    color: var(--rose);
    fill: var(--rose);
    height: 0.3em;
    margin-bottom: 4px;
    width: 0.3em;
  }


  .Venue__middle-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -8px 24px;
  }
}
